body{
  margin: 0px;
  padding: 0px;
  border :0px;
  font-size:large;
  background-color: #B9E4EB;     
  overflow-x: hidden; 
  height: 100vh;
}
.tittle{ 
  margin: 0;
  font-size:60px;
  padding: 5px;
  border-bottom: 1px solid black;
  text-align: center;
  background-color: #8BC7D0;
}
span{  
  display: block;
}    
.btn{
  border: none;
}
.Inicio{
  padding-top:5px ;
  padding-bottom: 10px;
  margin: 0px;
  text-decoration: none;
  background-color: #8BC7D0;
  text-align: center;
  font-size:x-large;
  color: black;
  }
.Inicio:hover{
  text-shadow: white 3px 3px 3px ;
  color: black;
}
.dropdown-menu{
  background-color: #8BC7D0;
}


.acuarofilia{
  padding-left: 20px;
  padding-right: 20px ;
  font-size: 90%;
  text-align: justify;
  margin-top: 100px;
  background-color:transparent; 
  border-left: #8BC7D0 3px solid;
  border-right: #8BC7D0 3px solid;
  
}
.layout{
  display: flex;
  flex-direction: column;
  height:100%;
}
.privateLayout{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout > .footer{
  padding: 5px;
  text-align: left;
  font-size: small; 
}

.img1{
  padding: 0;
  border-top: 3px solid #8BC7D0 ;
  box-shadow: 5px 5px 5px rgb(56, 56, 56);  
}
.botonesAcuario{
  display: flex;
  flex-wrap: wrap;
  border-bottom: #8BC7D0 3px solid;
}
.footer{
  margin-top: 20px;
  
  border-top:#8BC7D0 solid 1px;
}
.botonesAcuarioInterior{
  margin-top: 5px;
  margin-bottom:5px ;
  border: none;
  box-shadow:#79878a 1px 1px 5px;
}
.titulo-peces{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.card{
  width: 20rem;
  background-color: #a0d9e2;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card:hover{
  transition: all .3s ease-in-out;
  transform: scale(1.1);
}
.card-text{
  font-size: small;
}

.peces{  
  margin-left: 10px;
}
.lista-peces{
  list-style:circle;
}
.authError{
  text-align: center;
  font-size: x-large;  
  height: 80vh;

}
.sidebar{
  height: 100vh;
  border-right: #8BC7D0 5px solid;
  border-left: #8BC7D0 5px solid;
}
.adminCol{
  height: 100vh;
}
.admin{    
  padding-top: 150px;
  border-left: 5px solid #8BC7D0;
  height: 100vh;
  
}
.adminBody{
  margin-top: 50px;
}
.sidebarCol{
  border-bottom: #8BC7D0 1px solid;
  border-top: #8BC7D0 1px solid;
  height: 10vh;
  text-align: center;
  
}
.tablaProductos{
  margin-top: 50px;
  border: #8BC7D0 3px solid;
  padding: 15px;
  background-color: #a0d9e2;
  
}
.tablaHead{
  border-bottom: black 1px solid;
}
.tablaBody{
  border-bottom: #8BC7D0 1px solid;
  padding: 5px;
}
.col{
  text-align: center;
}
.formCreate{  
  padding: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
 border: #8BC7D0 5px solid; 
}